.navbar-expand-lg .navbar-nav {
  grid-gap: 20px;
  align-items: center;
  font-size: large;
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  margin-top: 2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: large;
}

/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba (104, 104, 104, 0.8);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-top: 2rem;
}

body {
  background: white;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  border: 2px solid black;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-transform: none;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn:before {
  content: "";
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: var(--dark);
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}

.btn:hover:before {
  height: 190%;
}

.btn:hover {
  color: #ff1493;
  font-weight: bold;
  background-color: pink;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Top Container */

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(../img/Background2.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
  background-position-y: top;
}

.showcase h1 {
  font-size: 1 rem;
  margin-bottom: 0;
  color: white;
}

.showcase p {
  font-size: 1.5 rem;
  margin-top: 0;
  color: white;
}

/* Top box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 12rem;
  display: flex;
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

/* Media Queries */

@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      "showcase showcase"
      "top-box-a top-box-b";
  }
  .showcase h1 {
    font-size: 2.5rem;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      "showcase"
      "top-box-a"
      "top-box-b";
  }
}

#intro-section {
  background-image: url(../img/background3.jpg);
  background-position: center;
  border: 20rem;
  background-size: 90%;
  padding: 7rem 0 7rem 0;
}

.display-2 {
  text-transform: capitalize;
  color: white;
  font-size: 4.5rem;
  font-weight: 400;
}

.display-2-description {
  font-size: 1.4rem;
  display: inline-block;
}

.loginbox {
  top: 50%;
  left: 50%;
  width: 400px;
  background: var(--light);
  border-radius: 10px;
  border: var(--dark);
}

.loginbox h1 {
  text-align: center;
  padding: 7px 7px 15px 7px;
  border-bottom: 2px solid var(--dark);
}

.loginbox form {
  padding: 20px 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid var(--dark);
  margin: 18px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 18px;
  font-size: 16px;
  border: none;
  outline: none;
}

.txt_field label {
  position: center;
  top: 50%;
  left: 5px;
  color: var(--dark);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.pass {
  margin: -5px 0 20px 5px;
  color: grey;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #adadad;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  outline: none;
}

section {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 700px) {
  .loginbox {
    grid-template-areas: "loginbox";
  }
  .loginbox h1 {
    font-size: x-large;
  }

  form {
    align-items: center;
  }

  .txt_field {
    grid-template-columns: 1fr;
    font-size: small;
  }

  .loginbox .pass {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .loginbox {
    grid-template-areas: "loginbox";
  }

  .loginbox h1 {
    font-size: large;
  }
}
.form-control {
  font-family: "Montserrat", sans-serif;
}

.col {
  font-family: "Montserrat", sans-serif;
}

.showcase1 {
  background: url(../img/Backgroung.jpg);
  min-height: 1000px;
  background-size: cover;
  background-position: center;
  background-position-y: top;
}
