$font-sizes: (
  h1: 50px,
  h2: 48px,
  h3: 36px,
  h4: 34px,
  h5: 16px,
  h7: 42px,
  p: 20px,
);

@each $tag, $size in $font-sizes {
  #{$tag} {
    font-size: $size;
  }
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
/* Media Queries paragraph */

@media (max-width: 500px) {
  p {
    font-size: small;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  color: $white;
}
/* Media Queries paragraph */

@media (max-width: 500px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

h5 {
  font-weight: bold;
}

h6 {
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

body {
  background: $white;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: $dark;
  color: $white;
  cursor: pointer;
  font-size: 18px;
  text-transform: none;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &:before {
    content: "";
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: $dark;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    transition: all 0.5s;
  }

  &:hover:before {
    height: 190%;
  }

  &:hover {
    /* Condicionales */
    $animal: gato;

    @if $animal == gato {
      color: #ff1493;
      font-weight: bold;
      background-color: pink;
    } @else if $animal == perro {
      color: blue;
      font-weight: bold;
      background-color: lightblue;
    } @else if $animal == caballo {
      color: red;
      font-weight: bold;
      background-color: lightyellow;
    }
  }
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}
