.showcase1 {
  background: url(../img/background.webp);
  min-height: 800px;
  background-size: cover;
  background-position: center;
  background-position-y: top;
}

.owl-container {
  max-width: 600px;
  margin: 0 auto;
}

.item {
  background: none;
  justify-content: center;
  align-items: center;
  display: flex;
}
