/* Top Container */

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(../img/background2.webp);
  background-size: cover;
  min-height: 900px;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: $shadow;
  background-position-y: top;

  h1 {
    font-size: 1 rem;
    margin-bottom: 0;
    color: $white;
  }

  p {
    font-size: 1.5 rem;
    margin-top: 0;
    color: $white;
  }
}

a {
  font-weight: bold;
  font-size: 18px;
}
a:hover {
  text-decoration: underline;
}

/* Color Map */
$colors: (
  article: #a5c5f5,
  youtube: rgb(255, 167, 167),
  community: rgb(206, 207, 205),
  courses: #f8d22a,
);

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }
}

/* Top box */
.top-box {
  background: $white;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow;
  padding: 1.5rem;

  -a {
    grid-area: top-box-a;
  }

  -b {
    grid-area: top-box-b;
  }
}

/* Media Queries */

@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      "showcase showcase"
      "top-box-a top-box-b";
  }
  .showcase h1 {
    font-size: 2.5rem;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      "showcase"
      "top-box-a"
      "top-box-b";
  }
}
